<header id="header">
  <img src="logo.png">

  <div class="menu-toggle" id="btn-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav>
    <a href="index.html">Inicio</a>
    <a href="servicios.html">Servicios</a>
    <a href="proyectos.html">Proyectos</a>
    <a href="contacto.html">Contacto</a>
  </nav>
</header>

<!-- MENU -->
<div class="menu-overlay"></div>

<div class="mobile-menu">
  <a href="index.html">Inicio</a>
  <a href="servicios.html">Servicios</a>
  <a href="proyectos.html">Proyectos</a>
  <a href="contacto.html">Contacto</a>
</div>